{% load static %}
    <!--Javascript-->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/lightbox.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/ecommerce.js' %}"></script>
    <script src="{% static 'js/jquery-confirm.js' %}"></script>

    <!--stripe form-->
    <script src="{% static 'js/stripe.js' %}"></script>
    <script src="{% static 'js/jsrender.js' %}"></script>




    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
